*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image:url("../images/signupbg.webp");
    background-size: cover;
}

.my-card{
    border-radius: 20px !important;
    background-color: rgba(0,0,0,0.8) !important;
    /* change background-color: ; */
}

.card{ 
    /* width:40%; */
    padding:20px;
}

.card .card-header{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.card .card-footer{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.card .card-footer a{
    text-decoration: none;
}

.col-auto button{
    width:100%;
}

.logo{
    height: 30px;
    width: auto;
}

.my-row{
    margin-top: 45px !important;
    height: 100%;
}

.warn{
    margin-top:5px;
    font-size: small;
    margin-left:10px;
    /* comment the next line out */
    color: red;
}

#strength{
    background-color:rgba(255, 0, 0, 0.8);
    width:100%;
    color:white !important;
    align-items: center;
    margin-top: 5px;
    padding: 2px;
    border-radius: 5px;
}

#warnPass{
    margin-top: -10px;
}